[project]
	description = will write something from learnings of cryptography
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Seshachalam Malisetti (mseshachalam)
[access "refs/for/refs/*"]
	read = group user/Seshachalam Malisetti (mseshachalam)
	push = group user/Seshachalam Malisetti (mseshachalam)
	label-Code-Review = -2..+2 group user/Seshachalam Malisetti (mseshachalam)
	label-Verified = -1..+1 group user/Seshachalam Malisetti (mseshachalam)
	rebase = group user/Seshachalam Malisetti (mseshachalam)
	removeReviewer = group user/Seshachalam Malisetti (mseshachalam)
	submit = group user/Seshachalam Malisetti (mseshachalam)
[access "refs/heads/*"]
	read = group user/Seshachalam Malisetti (mseshachalam)
	create = group user/Seshachalam Malisetti (mseshachalam)
	push = +force group user/Seshachalam Malisetti (mseshachalam)
	pushMerge = group user/Seshachalam Malisetti (mseshachalam)
[access "refs/tags/*"]
	push = +force group user/Seshachalam Malisetti (mseshachalam)
	pushTag = group user/Seshachalam Malisetti (mseshachalam)
	pushSignedTag = group user/Seshachalam Malisetti (mseshachalam)
